* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all .1s ease-in;
    font-family: Lucida Sans Unicode”, “Lucida Grande”, sans-serif;
}
a, button {
    transition: all .4s ease-in;
}
body {
    background: #2793CB;
    border: 10px solid #247CAD;
    padding: 0;
    margin: 0;
    min-height: 100vh
}
.main {
    max-width: 700px;
    margin: auto;
}
section {
    background: #ffffff;
    border: 3px solid white;   
}
.grid {
    display: inline-block;
    width: 100%;
    font-size: 0px;
}
.town {
    height: 100px;
    display: inline-block;
    font-size: 15px;
    justify-content: center;
    text-align: center;
    border: 3px solid white;
}
.grid-1-2 {
    width: 50%;
}
.grid-1-4 {
    width: 25%
}
.grid-1-1 {
    width: 100%;
}
p {
    font-family: 'Lucida Sans Unicode' serif;
    font-weight:bold;
    color: white;
    margin-top: 25px;
    margin-bottom: 10px;
}
span, i, h1, h2  {
    color: white;
}
span {
    margin-right: 5px;
}
h1 {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 20px;
}
h2 {
    font-size: 15px;
    font-weight: normal;
    margin-top: 20px;
}
.title {
    margin-top: 30px;
}
.title i {
    font-size: 20px;
}
span + i,
span {
    font-size: 20px;
    font-weight: normal;

}
section:hover .town{
    opacity: 0.5;
}
section:hover .town:hover{
    opacity: 1;
}
/* Colors */
.blue {
    background: #636999;
}
.lightblue {
    background: #24BDCB;
}
.purple {
    background-color: #986F95;
}
.red {
    background-color: #C75442;
}
.orange {
    background-color: #E77144;
}
.yellow {
    background-color: #FFCB5D;
}
.lightgreen {
    background-color: #94C297;
}
.darkgreen {
    background-color: #5E9494;
}
.pink {
    background-color: #D07294;
}
.green {
    background-color: #288D62;
}
.darkpurple {
    background-color: #636999;
}